In [33]:
import pandas as pd
import numpy as np
import py_vollib.black_scholes as bs
from typing import Tuple

In [34]:
# parameters
option:str = 'p' # c for call and p for put
strike:float = 16800
spot:float = 16930
day_range:Tuple[int,int] = (0,7)
risk_free_rate:float = 0.1
sigma_range:Tuple[int,int] = (0.1,0.16)

In [35]:
kwargs = {
    'flag': option,
    'S': spot,
    'K': strike,
    't': 1,
    'r': risk_free_rate,
    'sigma': 0.1
}

In [36]:
collect = []
for i in range(day_range[0], day_range[1]):
    for j in np.arange(sigma_range[0], sigma_range[1], step=0.01):
        kwargs.update(
            {'t': i/360, 'sigma': j}
        )
        price = bs.black_scholes(**kwargs)
        collect.append((i,j,price))
df = pd.DataFrame(collect,
                 columns=['days_to_expiry','sigma', 'price'])
df.pivot(index='days_to_expiry', columns='sigma', values='price').sort_values(
    by='days_to_expiry', ascending=False).round(2)

sigma            0.10   0.11   0.12   0.13   0.14   0.15
days_to_expiry
6               29.73  36.56  43.66  50.99  58.50  66.16
5               25.08  31.12  37.45  43.99  50.72  57.60
4               20.01  25.17  30.61  36.27  42.12  48.12
3               14.47  18.59  23.00  27.64  32.47  37.45
2                8.48  11.34  14.49  17.87  21.45  25.19
1                2.52   3.77   5.25   6.95   8.84  10.89
0                0.00   0.00   0.00   0.00   0.00   0.00