In [5]:
import pandas as pd
import numpy as np
import py_vollib.black_scholes as bs
from typing import Tuple

In [12]:
# parameters
option:str = 'c' # c for call and p for put
strike:float = 16950
spot:float = 16930
day_range:Tuple[int,int] = (0,7)
risk_free_rate:float = 0.1
sigma_range:Tuple[int,int] = (0.1,0.16)

In [15]:
kwargs = {
    'flag': option,
    'S': spot,
    'K': strike,
    't': 1,
    'r': risk_free_rate,
    'sigma': 0.1
}

In [16]:
collect = []
for i in range(day_range[0], day_range[1]):
    for j in np.arange(sigma_range[0], sigma_range[1], step=0.01):
        kwargs.update(
            {'t': i/360, 'sigma': j}
        )
        price = bs.black_scholes(**kwargs)
        collect.append((i,j,price))
df = pd.DataFrame(collect,
                 columns=['days_to_expiry','sigma', 'price'])
df.pivot(index='days_to_expiry', columns='sigma', values='price').sort_values(
    by='days_to_expiry', ascending=False).round(2)

sigma            0.10    0.11    0.12    0.13    0.14    0.15
days_to_expiry
6               91.35  100.06  108.77  117.49  126.20  134.91
5               81.36   89.32   97.28  105.24  113.20  121.15
4               70.61   77.73   84.85   91.97   99.09  106.21
3               58.77   64.93   71.10   77.26   83.42   89.59
2               45.24   50.26   55.28   60.31   65.33   70.36
1               28.49   32.00   35.52   39.05   42.59   46.12
0                0.00    0.00    0.00    0.00    0.00    0.00