In [5]:
import pandas as pd
import numpy as np
import py_vollib.black_scholes as bs
from typing import Tuple

In [6]:
# parameters
option:str = 'c' # c for call and p for put
strike:float = 16000
spot:float = 16000
day_range:Tuple[int,int] = (0,7)
risk_free_rate:float = 0.1
sigma_range:Tuple[int,int] = (0.1,0.16)

In [7]:
kwargs = {
    'flag': option,
    'S': strike,
    'K': spot,
    't': 1,
    'r': risk_free_rate,
    'sigma': 0.1
}

In [11]:
collect = []
for i in range(day_range[0], day_range[1]):
    for j in np.arange(sigma_range[0], sigma_range[1], step=0.01):
        kwargs.update(
            {'t': i/360, 'sigma': j}
        )
        price = bs.black_scholes(**kwargs)
        collect.append((i,j,price))
df = pd.DataFrame(collect,
                 columns=['days_to_expiry','sigma', 'price'])
df.pivot(index='days_to_expiry', columns='sigma', values='price').sort_values(
    by='days_to_expiry', ascending=False).round(2)

sigma            0.10    0.11    0.12    0.13    0.14    0.15
days_to_expiry
6               96.34  104.51  112.70  120.89  129.08  137.28
5               86.80   94.27  101.75  109.23  116.72  124.21
4               76.50   83.19   89.89   96.59  103.29  110.00
3               65.15   70.95   76.76   82.57   88.38   94.19
2               52.14   56.88   61.63   66.38   71.13   75.88
1               35.91   39.27   42.63   45.99   49.35   52.71
0                0.00    0.00    0.00    0.00    0.00    0.00